/* The background image of my page*/
body{
    background-image: url(../images/bgimagewater.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/*Lets size up the header a bit more!*/
h1{
    font-size: xx-large;
}
/*I dont want pink color in my links, and want his color on my h3 and h2 also :D*/
a,
h3,
h2{
 color: whitesmoke;
}

/* Well the h2 and h3 inside of my .diary-textblock needs some more beautifying! */
h3,
h2{
    text-align: center;
    font-family: Papyrus, fantasy;
}

/*Designing my DAY* notice outlet to stand out and separate days more fluently! */
h2 {
    background-color: rgb(128, 171, 220);
}

/*co-joining my header text and navigation bar!*/
.header-nav{
    text-align: center;
    font-size: larger;
    color: whitesmoke;
    background-color: rgb(128, 171, 220);
    border-style: solid;
    font-family: papyrus, fantasy;
    border-color: black;
    border-width: 1px;
    border-radius: 10px 10px 10px 10px;
    font-weight: bold;
}

/*Pimping my paragraphs with Diary text!*/
.diary-textblock {
    font-family: papyrus, fantasy;
    color: whitesmoke;
    background-color: rgb(128, 171, 220);
    text-align: left;
    border-width: 20px;
    border-style: solid;
    border-color: rgb(128, 171, 220);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 5px 5px rgb(49, 180, 186);
}

/*Smoothing images*/
img{
    border-style: none;
    border-radius: 10% 10% 10% 10%;
    float: right;
   /* float: right; yes please how do i manage this, i keep it on so you see my design idea... but i will study more later later!*/
}

  